.tae-quote-block {
  background-color: #ee0000;
  padding: 48px 11.111vw;
}

.tae-quote-block__quote {
  color: white;
  font-size: 40px;
  line-height: 50px;
  font-family: serif;
}

.tae-quote-block__author {
  margin-top: 36px;
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
